*{padding:0;margin: 0;border: 0;}
*,*:before,*:after{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a :active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button ::-moz-focus-inner{padding: 0;border: 0;}
a,a :visited{text-decoration: none;}
a :hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-style: inherit;font-weight: inherit;}


body{
   font-family: 'Rubik', serif;
   font-weight: 400;
   font-size: 1.626vw;
   line-height: 1;
   color: #000;
   background: #fff;
}



.wrapper{
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}
.container{
   max-width: 1230px;
   margin: 0 auto;
   padding: 0 15px;
}


h1{
   text-align: left;
   font-size:4.066vw;
   font-weight: 500;
}

h2{
   text-align: left;
   font-size: 2.7vw;
   font-weight: 500;
}
h3{
   font-size: 1.8vw;
   font-weight: 500;
   color: rgb(0, 128, 202);
   span{
      font-size: 1.4vw;
   }
}
h4{
   font-size: 1.8vw;
}
.fw700{
   font-weight: 700;
}

